<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Item</title>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'wishapp/css/bootstrap.css' %}">
   </head>
   <body>
      <div class="container">
         <div class="title row">
            <div class="col-md-9">
               {% for item in items %}
               <p>{{item.item}}</p>
               {% endfor %}
            </div>
            <div class="col-md-3">
               <a href="{% url 'wish:index' %}">Home</a>
               <a href="#">Logout</a>
            </div>
         </div>
         <div class="user row">
            <div class="col-md-12">
               <h5>Users who add product/item to wish list:</h5>
               {% for item in items %}
               {% for user in item.user.all %}

               <ul>
                  {{user.first_name}}
               </ul>
               {% endfor %}
               {% endfor %}
            </div>
         </div>
      </div>
   </body>
</html>
