<div class="container">
   <div class="main">
      <div class="title">
         <h3>Mail List</h3>
      </div><br><br>
      <div class="mail_list">
         <table class='table'>
            <thead>
               <th>Email</th>
               <th>Importance</th>
               <th>Subject</th>
               <th>Content</th>
            </thead>
            <tbody>
               <tr>
                  <tr *ngFor= "let email of emails">
                  <td>{{email.email}}</td>
                  <td><span *ngIf= "email.important"> High</span>
                  <span *ngIf= "!email.important"> Low</span></td>
                  <td>{{email.subject}}</td>
                  <td>{{email.content}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
