<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>DOJOS FORM</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/greetings_style.css')}}">
   </head>
   <body>
      <h1>Put in here what you think about this HTML page. Its very basic I know. But its functional templating!!!!</h1>
      <form class="dojos" action="dojos.html" method="post">
         <textarea name="Survey" rows="20" cols="80"></textarea>
         <input type="button" name="Submit" value="Submit">
      </form>
   </body>
</html>
