<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Greetings Landing Page!</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/greetings_style.css') }}">
      <script type="text/javascript" src="{{url_for('static', filename='js/greetings_script.js')}}"></script>
   </head>
   <body>
      <h1>This is my Coding Dojo Flask assignment!</h1>
      <h2>test</h2>
      <h3>{{greeting}}</h3>
      <p>{{paragraph}}</p>
      {% for x in range(0,times): %}
      <p>{{paragraph}}</p>
      {% endfor %}
   </body>
</html>
