<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>New</title>
   </head>
   <body>
      <div class="container">
         <h2>When YOU have a ton of money from being a Developer, what kind of car are you going to buy?</h2>
         Make:<input type="text" name="make" value="">
         Model:<input type="text" name="model" value="">
         Year:<input type="text" name="year" value="">
         Add a Photo:<input type="file" name="file" value="">
         <button type="button" name="button">Submit</button>
      </div>
   </body>
</html>
