#container{
   width: 980px;
   margin: 0 auto;
   padding: 20px;
}
#topgold{
   margin-bottom: 20px;
}
   .yourgold{
      width: 80px;
      display: inline-block;
   }
   .goldCount{
      width: 150px;
      display: inline-block;
      text-align: left;
      border: 2px solid black;
      padding-left: 5px;
      border-radius: 2px;
   }
#id{
   padding-top: 10 10 0 10px;
}
   .farm, .cave, .house, .casino{
      width: 200px;
      height: 220px;
      margin-right: 30px;
      display: inline-block;
      border: 2px solid black;
      text-align: center;
   }
   h6{
      margin-top: 5px;
      margin-bottom: 15px;
   }
.red{
   color: red;
}
.green{
   color: green;
}
.log{
   height: 100px;
   overflow-y: scroll;
   border: 2px solid black;

}
