*{
  margin: 0;
  padding: 0;
font-family: sans-serif;
/*  border: 1px dotted green;*/
}

#container
{
  width: 1040px;
  height: 850px;
  padding: 15px;
  background: #dddfd4;
}

.github
{
  width: 50px;
  height: 50px;
}

#header{
  background: #3fb0ac;
}
#header h1
{
  width: 160px;
  display: inline-block;
  bottom: 15px;
  left: -5px;
  position: relative;
  font-size: 30px;
}

.githeader
{
  position: relative;
  left: 30px;
  bottom: 15px;
  width: 200px;
  font-size: 16px;
  padding: 5px;
  color: white;

}
/* Top of page container and header stlying*/


#main_body
{
  background: #fae596;
  margin-top: 20px;
  height: 700px;

}
  #main_left
  {
    display: inline-block;
    width: 300px;
    height: 660px;
    margin-top: 20px;
    margin-left: 20px;
  }

  #main_mid
  {
    display: inline-block;
    width: 700px;
    height: 650px;
    position: relative;
    left: 325px;
    bottom: 662px;
  }

/* Main body contianer positioning*/

  .top_one, .top_two, .top_three
  {
    width: 175px;
    height: 175px;


  }
  .top_two
  {
    position: relative;
    left: 230px;
    bottom: 198px;
  }
  .top_three
  {
    position: relative;
    left: 460px;
    bottom: 395px;
  }
    .gitcommit
    {
      display: inline-block;
      position: relative;
      height: 170px;
      bottom: 495px;
      width: 285px;
    }
    .gitremote
    {
      display: inline-block;
      position: relative;
      height:170px;
      bottom: 350px;
      width: 285px;
      left: 40px;
    }
    .gitpush
    {
      width: 637px;
      height: 150px;
      line-height: 23px;
      position: relative;
      top: 60px;
      right: 364px;


    }
#footer
{
  width: 1020px;
  height: 50px;
  position: relative;
  background: #3fb0ac;
  color: black;
  text-align: center;
}

.side_left
{
  height:640px;
}

  h2, h3, p
  {
    padding: 10px;
    line-height: 23px;
  }
.blue
{
  background: #173f43;
  color: #dfe0d5;
  padding: 10px;
}
.gitside
{
  margin-top: 80px;
}
.teal
{
  color: #54d8c8;
}
