<div ng-controller='teamsController'>
   <form >
      <label for="">Team Name: </label>
      <input type="text" name="" value="" ng-model="team.team">
      <input type="submit" ng-click="addTeam()" value="Add Team">
   </form><br>
   <table class = "table table-bordered">
      <thead>
         <th>Name</th>
         <th>Action</th>
      </thead>
      <tbody ng-repeat = "team in teams" ng-if="team.team">
         <td>{{team.team}}</td>
         <td><button type="button" name="button" ng-click="deleteTeam(team)">Remove Team</button></td>
      </tbody>
   </table>

</div>
