<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Disappearing ninja</title>
   </head>
   <body>
      <div class="container">
         <div class="body">
            <img src="{{url_for('static', filename="img/tmnt.png")}}" alt="tmnt">
            <ul>
               <ol>
                  <a href="/ninjas/purple">Donatello</a>
                  <a href="/ninjas/blue">Leonardo</a>
                  <a href="/ninjas/orange">Micheal Angelo</a>
                  <a href="/ninjas/red">Raphael</a>
                  <a href="/ninjas/123">April</a>
               </ol>
            </ul>
         </div>
      </div>
   </body>
</html>
