<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Dojo Survey!</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
   </head>
   <body>
      <div class="container">
         <div class="form">
            <form action="/users" method="post">
               <div class="name">
                  <label>Name:</label>
                  <p class="input">{{userdata['name']}}</p>
               </div>
               <div class="dropdown">
                  <label for='location'>Location:</label>
                  <p class="input">{{userdata['location']}}</p>
               </div>
               <div class="dropdown">
                  <label for='language'>Favorite Language:</label>
                  <p class="input">{{userdata['language']}}</p>
               </div>
               <div class="comment">
                  <label>Comment:</label>
                  <p class="input">{{userdata['comment']}}</p>
               </div>
            </form>
            <div class="back">
            <form action="/" method="get">
               <input class='button' type="submit" value="Back">
            </form>
            </div>
      </div>
   </div>
   </body>
</html>
