*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  border: 1px dotted green;
}

#container{
width: 970px;
padding: 10px;
}
  .header img{
  width: 100px;
  height: 100px;
  margin-bottom: -25px;
  }
  .header h1{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom:-27px;
  margin-left: -10px;
  font-size: 250%;
  font-weight: 400;
  padding: 5px;
  }
  .header h2{
    font-size: 200%;
    font-weight: 300;
    background: #2e6b9e;
    width: inherit;
    color: white;
    padding: 10px;
    padding-left: 30px;
  }

#side_top{
  display: inline-block;
  vertical-align: top;
  margin-top: -20px
  padding: 10px;
  width: 290px;
  height: 320px;

  background: #f6f6f6;
}

  #side_top h2{
    display: inline-block;
    width: 280px;
  }
  #side_top h3{
    margin-top: 20px;
  }
  #side_top form{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    margin-top: 40px;
  }
  .button1, .button2, .button3{
    margin: 5px;
    width: 220px;
    font-size: 19px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: #26282b 2px 2px;
  }
  .button1{
    background: #4580ae;
  }
  .button2{
    background: #ec8a26;
  }
#side_bottom{
  width: 290px;
  height: 350px;
  background-image: url(ad_background.png);

}
  #side_bottom img{
    width: 100px;
    height: 140px;
    margin-left: 80px;

  }
  #side_bottom p{
    width:230px;
    font-size: 24px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
  }
  .button3{
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    background: #34c6dd
  }
#main{
  display: inline-block;
  position: relative;
  width: 630px;
  left: 300px;
  bottom: 665px;
  margin: -10px;
}
.main_head{
  height: 80px;
}
.home{
  width: 20px;
  height: 20px;
}
.DNS{
  display: inline-block;

}
.phone{
  width:50px;
  height:50px;
  position: absolute;
  left:350px;
}
.date, .number, .international{
display: inline-block;
position: relative;
bottom: 25px;
margin-top: -200px;
margin-left:400px;
text-align: center;
}
.number{
font-size: 20px;
color: #1ec5de

}
.international{
  margin-bottom: 120px;

}


.server{
  width: 280px;
  height: 90px;
  margin-left: 160px;
}
.html{
  width: 120px;
  height:120px;
}

.blue{
  color: #26669c;
}
.red{
  color:#d83838;
}
