*{
  margin: 0;
  padding: 0;

  font-family: sans-serif;

  /*border: 1px dotted green;*/
}

#container{
width: 970px;
padding: 10px;

}
  .header img{
  width: 100px;
  height: 100px;
  margin-bottom: -25px;
  }
  .header h1{
  display: inline-block;

  margin-top: 20px;
  margin-bottom:-27px;
  margin-left: -10px;
  padding: 5px;

  vertical-align: top;

  font-size: 250%;
  font-weight: 400;
  }
  .header h2{
    width: inherit;
    padding: 10px;
    padding-left: 30px;

    color: white;
    background: #2e6b9e;

    font-size: 200%;
    font-weight: 300;
  }

#side_top{
  display: inline-block;

  width: 290px;
  height: 320px;
  padding: 10px;

  vertical-align: top;

  border-width: thin;
  border-color: #bababa
  background #f6f6f6; /* For browsers that do not support gradients */
  border-bottom-style: solid;
  background: -webkit-linear-gradient(lightgrey, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightgrey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightgrey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightgrey, white); /* Standard syntax */
}

  #side_top h2{
    display: inline-block;

    width: 280px;
  }
  #side_top h3{
    margin-top: 20px;
  }
  #side_top form{
    display: inline-block;

    width: 200px;
    margin-top: 40px;
    margin-left: 10px;
  }
  .button1, .button2, .button3{
    width: 220px;
    margin: 5px;
    padding: 10px;

    color: white;
    border-radius: 10px;
    box-shadow: #26282b 2px 2px;

    font-size: 19px;
  }
  .button1{
    background: #4580ae;
  }
  .button2{
    background: #ec8a26;
  }
#side_bottom{
  width: 290px;
  height: 350px;

  background-image: url(ad_background.png);

}
  #side_bottom img{
    width: 100px;
    height: 140px;
    margin-left: 80px;

  }
  #side_bottom p{
    width:230px;
    margin-top: 20px;
    margin-left: 20px;

    text-align: center;

    color: white;

    font-size: 24px;
  }
  .button3{
    margin-top: 30px;
    margin-left: 30px;

    color: white;
    background: #34c6dd
  }
#main{
  position: relative;
  bottom: 722px;
  left: 300px;

  display: inline-block;

  width: 660px;
  margin: 10px;
}
.main_head{
  height: 80px;

  border-width: thin;
  border-color: #bababa
  border-bottom-style: solid;
  background: #f6f6f6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(lightgrey, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightgrey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightgrey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightgrey, white); /* Standard syntax */
}
.body_top h3{
  font-size: 24px;
}
  .body_top ul li{
    margin-left:30px;
  }
.body_mid ol li{
  margin-left: 30px;
}
.body_last{
  position: relative;
  top: 30px;

  width: 640px;

  border-width: medium;
  border-color: #0087dd
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
}
.body_last h4{
position:relative;
bottom: 80px;
left:95px;

width: 400px;

font-size: 20px;
}
.last{
  position:relative;
  bottom: 80px;
  left:90px;

  width: 545px;
  padding: 10px;
}
.home{
  width: 20px;
  height: 20px;
}
.DNS{
  display: inline-block;

}
.phone{
  position: absolute;
  left:380px;

  width:50px;
  height:50px;
}
.date, .number, .international{
position: relative;
bottom: 25px;

display: inline-block;

margin-top: -170px;
margin-left:440px;

text-align: center;
}
.number{
color: #1ec5de

font-size: 20px;

}
.international{
  margin-bottom: 120px;

}
.server{
  width: 300px;
  height: 150px;
  margin-top: 10px;
  margin-left: 160px;
}
.html{
  width: 90px;
  height:90px;
}

.blue{
  color: #26669c;
}
.red{
  color:#d83838;
}
.teal{
  color: #0498ad;
}
