<!-- <!DOCTYPE html>  ########## PAGE NOT USED!!!
<html>
   <head>
      <meta charset="utf-8">
      <title>Edit Posts</title>
   </head>
   <body>
      <div class="container">
         <div class="body">
            {% if edit.user == edit.usermain %}

            <h3>Edit Post</h3>
            <h5>Hello {{edit.first_name}}</h5>
            <hr>
            <form class="edit" action="/update" method="post" name="edit">
               <textarea name="edit" rows="8" cols="80">{{edit.content}}</textarea>
               <input type="submit" name="edit" value="Edit">
            </form>

         {% endif %}

         </div>

      </div>

   </body>
</html> -->
