/**{
   border: 1px dotted green;
}*/
.container{
   width: 980px;
   padding: 50px;
}

input{
   display: inline-block;
   width: 300px;
}
.button{
   display: block;
   margin-top: 30px;
   width: 80px;
}
.flash{
   height: 100px;
   padding: 20px;
}
.error{
   background-color: red;
   width: 300px;
   border: 2px solid black;
   margin-left: 50px;
   color: white;
}
