<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Secrets Main Page</title>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'loginapp/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'validate/css/style.css' %}">
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-7">
               <h2>Hello {{request.session.name}}</h2>
               <br>
               <form class="" action="index.html" method="post">
                  <div class="form-group">
                     <textarea name="text" rows="8" cols="30"></textarea>
                     <button type="submit" name="submit">Post</button>
                  </div>
               </form>
               <div class="col-md-1">
                  <a href="#">Most Popular Secrets</a>
               </div>

            </div>
         </div>
         <div class="row">
            <div class="col-md-7">
               <h2>Recent Secrets...</h2>
               <p>Secrets go here<a href="#">Like</a></p>
            </div>
         </div>
      </div>

   </body>
</html>
