*{
  margin: 0;
  padding: 0;

  font-family: sans-serif;

  /*border: 1px dotted green;*/
}

  #container
  {

  }

  #header
  {

  }

  #side
  {

  }

  #main_body
  {

  }

  #footer
  {

  }


  /*Any specific class styleing goes below here*/
