<h1> Books</h1>

<fieldset>
    <legend> Add a Book</legend>
    <form (submit)='onSubmit($event, form )' #form='ngForm'>

        {{ form.value | json }}
        <div>
            <label for="">Title</label>
            <input type="text" name='title' [(ngModel)]='book.title'>
        </div>
        <div>
            <label for="">Author</label>
            <input type="text" name='author' [(ngModel)]='book.author'>
        </div>
        <div>
            <label for="">Year</label>
            <input type="text" name='year' [(ngModel)]='book.year'>
        </div>
        <div>
            <label for="">Pages</label>
            <input type="text" name='pages' [(ngModel)]='book.pages'>
        </div>
        <div>
            <label for="">Publisher</label>
            <input type="text" name='publisher' [(ngModel)]='book.publisher'>
        </div>

        <button>Submit</button>
    </form>
</fieldset><br><br>
<div>
   <fieldset>


   <table>
      <thead>
         <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Year</th>
            <th>Author</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tr *ngFor= 'let book of books' (click)= 'selectBook(book)'>
         <td>{{ book.id }}</td>
         <td>{{ book.title }}</td>
         <td>{{ book.year }}</td>
         <td>{{ book.author }}</td>
         <td><button>Edit</button></td>
      </tr>
   </table>
   </fieldset>
</div>

<fieldset *ngIf= 'selectedBook'>
   <legend>Selected Book</legend>
   <p>ID: {{ selectedBook.id }}</p>
   <p>Title: {{ selectedBook.title}}</p>
   <p>Year: {{ selectedBook.year }}</p>
   <p>Author: {{ selectedBook.author }}</p>
</fieldset>
