<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Quote Dojo</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   </head>
   <body>
      <div class="row">
         <div class="text-center">
            <h2>Welcome to Quoting Dojo</h2>
            <br>
            <form class="" action="/quote" method="post">
               <label for="name"> Your Name:</label><input type="text" name="name" value="">
               <br>
               <label for="name"> Your Quote:</label><textarea name="quote" rows="4" cols="40"></textarea>
               <br>
               <input type="submit" name="submit" value="Add Quote">
               <br>
               <button type="button" name="button"><a href="/quote">Skip to Quotes!</a></button>
            </form>
         </div>
      </div>
   </body>
</html>
